{
  "root": true,
  "extends": "@1stg",
  "rules": {
    "unicorn/prefer-set-has": "off",
    "unicorn/template-indent": "off"
  },
  "overrides": [
    {
      "files": ".github/*.yml",
      "rules": {
        "unicorn/filename-case": "off"
      }
    },
    {
      "files": "docs/**/*.tsx",
      "rules": {
        "react/react-in-jsx-scope": "off"
      }
    }
  ]
}
